<!DOCTYPE html>
<html>
  <head>
    <title>ALPHABlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="d-flex flex-column min-vh-100">
    <%= render 'layouts/navigation' %>
    <div id="page-content">
      <%= render 'layouts/message' %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <%= javascript_include_tag 'example' %>

  </body>
</html>
